[Unit]
Description=CTA Data Compaction Timer
Requires=cta-compaction.service

[Timer]
OnCalendar=*-*-* 3:00:00 America/Chicago
Persistent=true
Unit=cta-compaction.service

[Install]
WantedBy=timers.target
